#root {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
 margin: 1rem;
  background: white;
  
}

.each{
	width: 120px;
	height: 160px;
	float: left;
	margin: 1rem;
	border: solid black;
	text-align: center;
}

